form{
    display: flex;
    flex-flow: column;
    align-items: center;
    border-bottom: 2px solid lightgray;
    padding: 10px;
}
.form button{
    margin-top: 5px;
    padding-top: 5px;
}
.form_head{
    display: flex;
    justify-content: center;
}